/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-6dlfwkhe4l] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-6dlfwkhe4l] {
    flex: 1;
}

.sidebar[b-6dlfwkhe4l] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-6dlfwkhe4l] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-6dlfwkhe4l]  a, .top-row .btn-link[b-6dlfwkhe4l] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-6dlfwkhe4l] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-6dlfwkhe4l] {
        display: none;
    }

    .top-row.auth[b-6dlfwkhe4l] {
        justify-content: space-between;
    }

    .top-row a[b-6dlfwkhe4l], .top-row .btn-link[b-6dlfwkhe4l] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-6dlfwkhe4l] {
        flex-direction: row;
    }

    .sidebar[b-6dlfwkhe4l] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6dlfwkhe4l] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-6dlfwkhe4l] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-777ddz5jin] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-777ddz5jin] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-777ddz5jin] {
    font-size: 1.1rem;
}

.oi[b-777ddz5jin] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-777ddz5jin] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-777ddz5jin] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-777ddz5jin] {
        padding-bottom: 1rem;
    }

    .nav-item[b-777ddz5jin]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-777ddz5jin]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-777ddz5jin]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-777ddz5jin] {
        display: none;
    }

    .collapse[b-777ddz5jin] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/Toggle.razor.rz.scp.css */

input[type="checkbox"][b-m2abk35k89] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check[b-m2abk35k89] {
    position: relative;
    display: block;
    width: 80px;
    height: 40px;
    background: #092c3e;
    cursor: pointer;
    border-radius: 40px;
    overflow: hidden;
    transition: ease-in 0.5s; 
}

/*input[type="checkbox"]:checked ~ .check {
    background: #fff;
}*/

.check[b-m2abk35k89]:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    background: #fff;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    transition: 0.5s;
}

input[type="checkbox"]:checked ~ .check[b-m2abk35k89]:before {
    transform: translateX(40px);
}

/*.check:after {
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    background: #333;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    transition: 0.5s;
    //transform: translateX(44px);
}

input[type="checkbox"]:checked ~ .check:after {
    transform: translateX(0px);
}*/
